/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #e7e7e7e9, #8fdceae9); /* Cor de fundo cinza claro */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #0cea0f48; /* fundo do header topo */
    color: #fff;
    padding: 415px;
}

header h1 {
    margin: 0;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #eb2c2cfb;
    textadaadecoration: none;
}

section {
    padding: 20px;
}

.produto {
    margin-bottom: 20px;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.imagem-produto {
    width: 200px;
    height: 200px; /* altura */
    margin-bottom: 10px;
    border: 12px solid #333; /* Adicione uma borda de 2px sólida preta */
    border-radius: 5px; /* Adicione bordas arredondadas */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Adicione uma sombra */
}

.imagem-produto:hover {
    opacity: 0.8; /* Diminua a opacidade ao passar o mouse */
}

/* Estilos para o conteúdo dentro de containerInicial */

.contentInicial {
    font-size: 24px; /* Aumenta o tamanho da fonte para 24 pixels */
    color: #3f4443; /* Define a cor do texto como cinza escuro */
    position: absolute; /* Define a posição absoluta */
    top: 45%; /* Alinha o topo com 50% da altura do contêiner pai */
    left: 50%; /* Alinha a esquerda com 50% da largura do contêiner pai */
    transform: translate(-50%, -50%); /* Move o conteúdo para o centro do contêiner */
    text-align: center; /* Alinha o texto ao centro */
    
}
/* Estilos para o efeito de máquina de escrever (typewriter effect) */
.typewriter {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa as dimensões */
    border-right: .15em solid orange; /* Adiciona um cursor de máquina de escrever */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    margin: 1 auto; /* Centraliza o elemento horizontalmente */
    letter-spacing: .0em; /* Define o espaçamento entre letras */
    animation: typing 2.0s steps(30, end), blink-caret .75s step-end infinite; /* Define a animação de digitação */

}

/* Animação de digitação */
@keyframes typing {
    from { width: 0 } /* Começa com largura zero */
    to { width: 100% } /* Termina com largura total */
}

.container2 video {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 50%;
}
